.find#find
  .container
    h2.find_page
      span.number 09
      span.text как найти   

    .find_wrapper
      .find_contacts  
        .find_contacts_text
          .find_contacts_title Zelda. Absinthe & Oysters
          a(href="tel:+38 (048) 771 04 26").find_contacts_tel +38 (048) 771 04 26
          .find_contacts_address Lanzheronovskaya 26

        .find_contacts_buttons  
          .btn(data-popup-target='$order') Забронировать
          .btn Перейти в магазин
      
        .find_contacts_socials
          a(href="#").i.fb
            include ./../../../assets/images/fb.svg
          a(href="#").i.ig
            include ./../../../assets/images/ig.svg

      .find_map
        #map