.about
  .container
    h2.about_page
      span.number 02 
      span.text кто мы
      
    .about_content
      .about_text
        h3.about_text_title Zelda — первый <br> в Украине <br> абсент-бар

        p 
          em Мы исповедуем культуру абсента и качественного алкоголя, объединяем темперамент и стиль Франции позапрошлого столетия.

        p Бар назван в честь иконы дикой, яркой эпохи джаза 1920-х годов, Зельды Сейр, супруги и музы знаменитого писателя Френсиса Скотта Фитцджеральда, автора знаменитого романа “Великий Гетсби”, абсент-бар Zelda - это новаторская концепция объединения коктейль бара и магазина качественных алкогольных напитков, где каждый гость может почувствовать себя частью закрытого общества абсентистов.  

        p В Zelda bar объединили четыре вида искусства: миксологию Василия Шилофоста (Parovoz Speak Easy и P1 prosecco bar), кулинарию британского шеф-повара с 13-летним опытом работы в ресторанах с мишленовскими звездами Тома Кэтли, фирменное одесское гостепреимство и ювелирное мастерство бренда Шейны Мирецкой AGANA jewelry, корнер которого функционирует в баре. 

        
      .about_pic
        .about_pic_img
          img(src=require('./img.jpg'), alt="Фото из бара")
        .about_pic_bg
          img(src=require("./../../../assets/images/border.svg"), alt="border")