.menu#club.club
  .container
    .menu_wrapper
      h2.menu_page
        span.number 04 
        span.text Закрытый клуб абсентеистов

      h3.menu_title Закрытый клуб <br> абсентеистов

      .menu_text
        p  Гости ZELDA могут попробовать более 30 видов абсента «La Louche»
      
      .menu_links
        .menu_link Подробнее