.popup#clubpopup.page-popup
  .content
    .page-popup_text
      .page-popup_img
        img(src=require('./../about/img.jpg'), alt="")

      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, a? Dolorum enim, rem quo labore ratione, blanditiis dolores assumenda cum error eius fugit voluptatum?
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, a? Dolorum enim, rem quo labore ratione, blanditiis dolores assumenda cum error eius fugit voluptatum?
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, a? Dolorum enim, rem quo labore ratione, blanditiis dolores assumenda cum error eius fugit voluptatum?
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, a? Dolorum enim, rem quo labore ratione, blanditiis dolores assumenda cum error eius fugit voluptatum?
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, a? Dolorum enim, rem quo labore ratione, blanditiis dolores assumenda cum error eius fugit voluptatum?


  .close(data-popup-close="all")