.banner
  include ./../header/index
  .container
    .banner_wrapper
      .banner_logo
        img(src='./../../../assets/images/logo.svg', alt="zelda")
      h1.banner_title 
        include text.svg

      .banner_btn Забронировать