extends ./layouts/master.pug

block title
  title Zelda 

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')

block content
  main
    include components/banner/index
    include components/about/index
    include components/menu/index
    include components/shop/index
    include components/club/index
    include components/what/index
    include components/gallery/index
    include components/promo/index
    include components/find/index