.about.what
  .container
    h2.about_page
      span.number 04
      span.text кейтеринг
    .about_content
      .about_text
        .about_pic
          .about_pic_img
            img(src=require('./img.jpg'), alt="")
          .about_pic_bg
            img(src=require("./../../../assets/images/border.svg"), alt="")
        
        h3.about_text_title Zelda кейтеринг

        p Кейтеринг — это искусство создания уникального праздника, благодаря изысканной кухне лучших шеф-поваров мира и самым высоким стандартам безупречного сервиса и стиля. Организация праздника — это опыт  и мастерство. А организация яркого и запоминающегося праздника — это почти искусство.  

        .about_btn 
          .btn Подробнее