.menu#menu
  .container
    .menu_wrapper
      h2.menu_page
        span.number 03
        span.text меню
        
      h3.menu_title меню

      .menu_text
        p Гости ZELDA могут попробовать более 30 видов абсента «La Louche» – этот ритуал приготовления абсента с водой и сахаром делает напиток мягким и дает радужный белый цвет с оттенками зеленого и желтого, а фирменный коктейль заведения — absinthe sour на основе испанского абсента Lasala и классического швейцарского Pigalle.
      
      .menu_links
        a(href="#").menu_link Основное меню
        a(href="#").menu_link Абсент
        a(href="#").menu_link Коктейли